<!DOCTYPE html>
<html>
<head>
  <title>Litmus</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav">
    <h1><%= link_to "Litmus", root_path %></h1>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <footer>
    created by <a href="http://www.github.com/sayamkim" target="_blank">Sayam Kim</a>, <a href="http://www.github.com/kerianngannon" target="_blank">Keri Gannon</a>, <a href="http://www.github.com/jsgarrett1" target="_blank">Joel Garrett</a>, & <a href="http://www.github.com/omgannie" target="_blank">Annie Oh</a>
  </footer>
</body>
</html>
